
/*
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #6622CC;
}
.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.table-view .cell{

}

#Sample {

    -fx-padding: 30 30 30 30;

}

.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive( #6622CC,80%);

    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

.root { display: block;
    -fx-background-color: #29292D;
}
.table-view {
    -fx-background-color: black;
}

.fontStyle{
    -fx-font-size: 16;
    -fx-font-family: "Comic Sans MS";
}
.button{

}
.label{
    -fx-text-fill: blue;
}

.hbox {
    -fx-padding: 15;
    -fx-spacing: 10;
}

.borders{
    -fx-border-color: black;
    -fx-border-style: dashed;
    -fx-border-width: 2;
}

 */

